# Editor and IDE configurations
.idea/
.vscode/
*.swp
*.swo
*.iml

# Gradle and Spring Boot (Backend)
.gradle/
build/
target/
out/
Back-End/build/
Back-End/.gradle/

# Node and React (Frontend)
node_modules/
Front-End/node_modules/
Front-End/dist/
.env

# Misceláneos
*.log
*.pdb
.DS_Store
